@import "./fonts/font.css";

.section7{
    width: 100%;
    height: auto;
}

.contact{
    height: 165px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 74px;
    margin-bottom: 50px;
}

.contact h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Open Sans',Arial,sans-serif;
}

.contact p {
    width: 655px;
    height: 91px;
    font-size: 17px;
    text-align: center;
    color: rgb(98, 99, 100);
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.8;
    padding-left: 15px;
    padding-right: 15px;
    
}


.contactBox{
    width: 900px;
    height: 412px;
    display: flex;
    justify-content: space-between;
    
}

.contactForm{
   width:  310px;
   height: 382px;
   display: flex;
   flex-direction: column;
 
}

.contactForm input{
    width: 310px;
    height: 39px;
    display: block;
    margin-bottom: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #626364;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
}

.contactForm  textarea{
    width: 310px;
    height: 145px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #626364;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    margin-top: 30px;
}

.contactForm button{
    display: inline-block;
    font-size: 1rem;
    width: auto;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    background-color: #319966;
    color: white;
} 
.btnSend{
    height: 37px;
    align-self: flex-end;
    margin-top: 30px;
}

.contactAddress{
    width: 315px;
    height: 367px;
    
}

.contactAddress h4{
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 30px;
    color: #319966;
}


.contactAddress p {
    font-style: normal;
    margin-bottom: 50px;
    color: #626364;
    line-height: 1.8;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 17px;
}


.contactAddress a {
    display: inline-block;
    color: #626364;
    margin-bottom: 25px;
    text-decoration: none;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 17px;
    margin-left: 30px;
}

.contactAddress .fa-solid {
    font-size: 17px;
    color: #319966;
}


.addressIcon{
    height: 55px;
    display: flex;
    margin-top: 65px;
    
}


.iconSocial i {
    color: #626364;
    transition: 0.3s;
    font-size: 20px;
}


.map{
  margin-top: 40px;
}


.section7{
    width: 100%;
    height: auto;
    
}


.faqs {
    height: 165px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 74px;
    margin-bottom: 50px;
}



.faqs h2 {
    height: 44px;
    font-size: 32px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    color: #000000 ;
    font-family: 'Open Sans',Arial,sans-serif;
  
}

.faqs p {
    width: 655px;
    height: 91px;
    font-size: 17px;
    text-align: center;
    color: rgb(98, 99, 100);
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.8;
    padding-left: 15px;
    padding-right: 15px;
}

.question{
    width: 620px;
    height: 53px;
    font-size: 1.2rem;
    font-family: 'Open Sans',Helevetica,Arial,sans-serif;
    color: #999;
    background-color: transparent;
    border: 1px solid #d0d0d0;
    margin-bottom: 17px;
    margin-top: 17px;
    cursor: pointer;
    padding: 10px 20px 6px;
    text-align: left;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    
}

.question:hover {
    color: #09C;
}

.question:active {
    color: #09C;
}

.questionBox{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}

.answer{
    width: 620px;
    height: 126px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    color: #626364;
    line-height: 1.8;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 17px;
    align-items: center;
    display: flex;
    justify-content: center; 
    margin: 0 auto;
    
}
.answer p {
    padding: 10px 20px 6px;
}

.answer.show{
    height: auto;
    max-height: 126px;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}


.dataBox{
    margin-bottom: 90px;
}

.error{
    font-size: 15px;
    color: red;
}


@media screen and (max-width: 820px){
    .contactBox{
        width:763px;
        
    }

  
}

@media screen and (max-width: 540px){
    .contactBox{
        width:528px;
    }

     
    .contactForm{
        width:  261px;
     }

     .contactForm input{
        width: 247px;
    }

    .contactForm  textarea{
        width: 247px;
    }
  
    .contact p {
        width: 536px;
    }

    .contactAddress{
        width: 255px;
      
    }

   
  .contactAddress p {
       font-size: 13px;
    }

   .faqs {
    width: 511px;
  }
   .faqs p {
    width: 481px;
    font-size: 13px;
   }

   .question{
    width: 500px;
    height: 57px
   }

   .question h4{
   font-size: 17px;
   }

   .answer{
    width: 480px;
    height: 126px;
     
}


}

@media screen and (max-width: 412px){
    .contact p {
        width: 426px;
        height: 91px;
        font-size: 15px
    
    }
    .contactBox{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .contactForm{
        margin-bottom: 40px;
    }

    .faqs {
        width: 357px;
    }
        
   .faqs p {
        width: 354px;
        font-size: 13px;
    }

    
    .question{
        width: 346px;
        height: 57px
    }
    

    .answer{
        width: 340px;
        height: auto;   
    }

    .answer.show{
        max-height: 313px;
    }

  
}


@media screen and (max-width: 393px){
   
    .contact p {
        width: 372px;
        height: 91px;
        font-size: 13px;
    
    }

    .faqs p {
        width: 344px;
        font-size: 15px;
    }

   
  
}

@media screen and (max-width: 360px){
   
    .contact p {
        width: 357px;
        height: 91px;
        font-size: 13px;
    
    }

   
    .faqs p {
        width: 322px;
    
    }
  
  
}


@media screen and (max-width: 320px){
   
    .contact p {
        width: 308px;
        height: 91px;
        font-size: 13px;
    
    }

    .faqs p {
        width: 283px;
        font-size: 14px;
    }

    .faqs {
        width: 253px;
    }

    
    .question {
        width: 273px;
        height: 57px;
     }

    

    .answer{
        width: 260px;
        height: auto;   
    }
   
    .question h4{
        font-size: 14px;
   }
     
  
  
}