@import "./fonts/font.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 644px;
    background-image: url(../images/simple-house-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1140px;
    width: 100%;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.headerMenu{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.logo{
    width: 482px;
    height:77px ;
    display: flex;
    color: #ffff;
}
 
.logo h1 {
    margin-bottom: 5px;
    font-size: 35px;
    font-family: 'Open Sans',Arial,sans-serif;

}
.logo p {
    font-size: 17px;
    font-family: 'Open Sans',Arial,sans-serif;

}
.menu{
    width: 200px;
    height:77px ;
    display: flex;
    color: #ffff;

}
 
 
.ul  {

    padding-right: 30px;
    font-size: 17px;
    padding-bottom: 10px;
    font-family: 'Open Sans',Arial,sans-serif;
    cursor: pointer;
}
a{
      text-decoration: none;
      color: #ffff;
      text-align: center;
}

.menu ul:focus, .menu ul:hover {
    border-bottom: 1px solid white;
}


.test {
    margin-top: 5px;
    border-bottom: 1px solid white;

}


@media screen and (max-width: 1024px){
    .headerMenu{
        width: 933px;
        height: 600px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    
    }
    
}

@media screen and (max-width: 912px){
    .headerMenu{
        width: 776px
    } 
}

@media screen and (max-width: 820px){
    .headerMenu{
        width: 724px;
    }
    
}


@media screen and (max-width: 768px){
    .headerMenu{
        width: 677px;
    }
    
}




@media screen and (max-width: 540px){
    .headerMenu{
        width: 498px;
        height: 1046px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        width: 482px;
        height:77px ;
        display: flex;
        justify-content: center;
    }

    
}




@media screen and (max-width: 412px){
    .headerMenu{
        width: 372px;
        height: 1066px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        width: 415px;
        height:77px ;
        display: flex;
        justify-content: center;
    }

    
}

@media screen and (max-width: 360px){
    .headerMenu{
        width: 310px;
        height: 1066px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        width: 350px;
        height:77px ;
        display: flex;
        color: #ffff;
    }

    .logo h1 {
        margin-bottom: 5px;
        font-size: 30px;
        font-family: 'Open Sans',Arial,sans-serif;
    
    }
    .logo p {
        font-size: 15px;
        font-family: 'Open Sans',Arial,sans-serif;
    
    }

    
}


@media screen and (max-width: 320px){
    .headerMenu{
        width: 269px;

    }

    

    
}